<a href="https://colab.research.google.com/github/MuhammadRaza2761/MuhammadRaza2761/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Set**
  
    -> A set is an unordered collection of items. Every element is unique(no duplicates).
    -> The set itself is mutable. We can add or remove items from it.
    -> Sets can be used to perform mathematical set operations like union,intersection,symmetric difference etc.

***Set Creation***

In [1]:
#set of integers
s = {1, 2, 3}
print(s)

#print type of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [2]:
#set doesn't allow duplicates. They store only one instance.
s = {1, 2, 3, 1, 4}
print(s)

{1, 2, 3, 4}

In [4]:
#set doesn't allow duplicates. They store only one instance.
s = {1, 2, 3, 1, 5, 4}
print(s)

{1, 2, 3, 4, 5}

In [8]:
#we can make set from a list
s = ({1, 2, 3, 1, 4, 4})
print(s)

{1, 2, 3, 4}

In [9]:
#initialize a set with set() method
s = set()

print(type(s))

<class 'set'>

**Add Element to a Set**

In [10]:
#we can add single element using add() method and
#add multiple elements using update() method
s = {1, 3}

#set object doesn't support indexing
print(s[1]) #will get typeError

TypeError: ignored

In [11]:
#add element
s.add(2)
print(s)

{1, 2, 3}

In [12]:
#add element
s.add(2)
s.add(4)
print(s)

{1, 2, 3, 4}

In [13]:
#add multiple elements
s.update([5, 6, 1, 3])
print(s)

{1, 2, 3, 4, 5, 6}

In [16]:
s.add(9)
s.add(8)
s.add(7)
s.add(0)
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
#add list and set
s.update([8, 9], {10, 2, 3})
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Remove Elements from a Set**

In [18]:
#A particular item can be removed from set using methods,
#discard() and remove().

s = {1, 2, 3, 5, 4}
print(s)

s.discard(4)    #4 is removed from a set s
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [25]:
#remove an element
s.remove {2}

print(s)

SyntaxError: ignored

In [30]:
#discard an element not present in a set s
s.discard(7)
print(s)

set()
set()

In [26]:
#we can remove item using pop() method

s = {1, 2, 3, 5, 4}

s.pop()  #random element

print(s)

{2, 3, 4, 5}

In [27]:
#we can remove item using pop() method

s = {1, 2, 3, 5, 4}

s.pop()  #random element
s.pop()  #random element
s.pop()  #random element

print(s)

{4, 5}

In [28]:
s = {1, 5, 2, 3, 6}
s.clear()  #remove all items in set using clear () method
print(s)

set()

**Python Set Operations**

In [31]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#union of 2 sets using | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [32]:
#another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [33]:
#intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [35]:
#use intersection function
print(set1.intersection(set2))

{3, 4, 5}

In [36]:
#set difference: set of elements that are only in set1 but not in set2
print(set1-set2)

{1, 2}

In [37]:
#set difference: set of elements that are only in set1 but not in set2
print(set2-set1)

{6, 7}

In [38]:
#use difference funcation
print(set1.difference(set2))

{1, 2}

In [39]:
#use symmetric_difference funcation
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [44]:
#find is subset()
x = {"a", "b", "c", "d", "e"}
y = {"c", "d"}


print("set 'x' is subset of 'y' ?", x.isubset(y)) #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

AttributeError: ignored